# Environment variables
.env

# Python bytecode files and cache directories
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask instance folder (if used)
instance/

# OS-specific files
.DS_Store
Thumbs.db

# Local project files
content.txt
copy_files.py
delete_static_folder.py
static/thumbnails/*
static/uploads/*
